:root{
    --bg:rgb(245,245,245);
    --bg-nuance:rgb(200,200,200);
    --bg-var:rgb(255,255,255);
    --text:rgb(50,50,50);
    --accent:rgb(250,215,135);

    --accent-op:rgb(90,150,250);

}